SECRET_KEY_BASE=local_development_secret_key_base_quoteMe

#DB
DB_NAME=Walltaker
DB_PORT=5432
DB_HOAST_PORT=5432
DB_USER=postgres
DB_PASSWORD=secretPassword

DB_URL=postgres://${DB_USER}:${DB_PASSWORD}@database:${DB_PORT}/${DB_NAME}

#Rails
RAILS_HOAST_PORT=3000
RAILS_ENV=production

#Cache
CACHE_PORT= 6379
CACHE_HOAST_PORT= 6379
REDIS_URL=redis://redis:${CACHE_PORT}/1

#Walltaker
WALLTAKER_HOST=some.Url.net
WALLTAKER_URL=https://some.Url.net

#Bot Job

